// :root를 사용해 var(변수)에 색을 지정할 수 있습니다.
// 해당 변수는 문서 전체에서 사용이 가능합니다. 
// ex) bacground-color: var(--black); 
// 예시처럼 색을 넣으면 검은색으로 색이 들어갑니다.

:root {
    --mainfont: "pretendard";
  
    --black: #000;
    --black100: #212121;
    --black200: #3a3a3a;
    --black300: #646464;
    --black400: #787878;

    --white: #fff;
    --white100: #efefef;
    --white200: #d9d9d9;
    --white300: #bbbbbb;
    --white400: #b1b1b1;
    
    // 폰트 셋팅
    font-family: var(mainfont);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black100);
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}